@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-color: #2b5876; /* Ocean blue */
  --secondary-color: #4e4376; /* Deep sea blue */
  --brightness: 1; /* Default brightness */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.logo-text {
  font-size: 4rem; /* Adjust size as needed */
  font-weight: bold;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  filter: brightness(var(--brightness));
  transition: filter 0.1s;
}

.typing-text {
  font-size: 1.25rem; /* Adjust size as needed */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for typewriter effect */
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid var(--foreground); /* Cursor effect */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--foreground); }
}
